#header {
  margin-bottom: 40px;
  margin-top: 40px;
}

.mast a {
  color: @grayDark;
  text-decoration: none;
}

ul.navigation {
  margin: 15px 0 0;
}

ul.navigation a {
  font-family: @altFontFamily;
}


@media @mobileAll {
  .mast {
    text-align: center;
  }

  ul.navigation {
    width: 100%;

    > li {
      text-align: center;
      width: 25%;
    }
  }
}

@media @mobile {
  #header {
    margin-top: 10px;
  }

  .mast {
    margin-bottom: 0;
  }

  ul.navigation > li {
    width: 100%;
  }
}
