ul.navigation {
  float: right;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  li {
    float: left;
    text-align: right;
  }

  li a {
    display: block;
    padding: 10px;
    text-decoration: none;
  }
}
