.columns.gallery {
  width: 300px;

  @media @tabletPortraitToDesktop {
    width: 235px;
  }

  @media @mobileAll {
    margin-bottom: 20px;
    width: 100%;
  }
}

.gallery h4 {
  text-align: center;
}

.gallery-container{
  display: none;
}

.gallery-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 300px;
  width: 300px;
  margin: 0 auto;

  @media @tabletPortraitToDesktop {
    height: 235px;
    width: 235px;
  }

  @media @mobileAll {
    width: 100%;
  }
}
