.container
  .eight.columns
    img.mug(src="assets/images/mug.jpg")
  .eight.columns
    h3 About
    p I am a User Experience Designer and Photographer based in Brooklyn, NY. I graduated with a BFA in Photography and Fine Art from the Richard Stockton College of New Jersey.
    p As a User Experience Designer, I aim to create simple and enjoyable online experiences. Connecting user research, client needs, and design in a meaningful way is something that I am passionate about.
    p After graduating, I began to explore the possibility of applying my visual design background to the field of computer science. However, I wanted to be able to create experiences that were both visually compelling and user centric.
    p I enrolled in General Assembly’s User Experience Design Immersive and spent 8 weeks learning and developing my new UX skills.  During the course, I had the opportunity to learn a variety of user research methods, design processes, and prototyping programs.
    p I am currently working as an Assistant User Experience Designer at Rule Financial.
