footer
  .container
    .six.columns
      p.copyright 2014 &copy; Katie Boyd.
    .ten.columns
      ul.social.horizontal
        li
          a(href="http://instagram.com/rockpaperkatie")
            i.fa.fa-instagram
        li
          a(href="mailto:kboyd818@gmail.com")
            i.fa.fa-envelope
        li
          a(href="http://www.facebook.com/1429800622")
            i.fa.fa-facebook
        li
          a(href="http://www.linkedin.com/in/katiemboyd")
            i.fa.fa-linkedin
        li
          a(href="https://twitter.com/RockPaperKatie")
            i.fa.fa-twitter
