footer
  .container
    .six.columns
      p.copyright 2014 &copy; Katie Boyd.
    .ten.columns
      ul.social.horizontal
        li
          a(href="http://instagram.com/rockpaperkatie")
            span.fa-stack
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-instagram.fa-stack-1x.fa-inverse
        li
          a(href="http://www.facebook.com/1429800622")
            span.fa-stack
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-facebook.fa-stack-1x.fa-inverse
        li
          a(href="http://www.linkedin.com/in/katiemboyd")
            span.fa-stack
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-linkedin.fa-stack-1x.fa-inverse
        li
          a(href="https://twitter.com/RockPaperKatie")
            span.fa-stack
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-twitter.fa-stack-1x.fa-inverse
        li
          a(href="mailto:kboyd818@gmail.com")
            span.fa-stack
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-envelope.fa-stack-1x.fa-inverse
