#header.container
  .seven.columns
    h1.mast
      a(href="/") Katie Boyd
  .nine.columns
    nav
      ul.navigation
        li
          a(href="/") About
        li
          a(href="/ux") User Experience
        li
          a(href="/photography") Photography
        li
          a(href="http://rockpaperkatie.com") Blog
