#header.container
  .seven.columns
    h1.mast
      a(href="/") Katie Boyd
  .nine.columns
    nav
      ul.navigation.horizontal
        li
          a(href="/") About
        li.dropdown
          a(href="#") User Experience
          ul
            li
              a(href="/process") Process
            li
              a(href="/work") Work
        li
          a(href="/photography") Photography
        li
          a(href="http://rockpaperkatie.com", target="_blank") Blog
