.container
  .seven.columns
    h1 Katie Boyd
  .nine.columns
    nav
      ul.navigation
        li
          a(href="/about") About
        li
          a(href="/ux") User Experience
        li
          a(href="/photography") Photography
        li
          a(href="/blog") Blog
