doctype 5
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="author", content="Jico Baligod <jico@baligod.com>")
    meta(name="title", content="Katie Boyd")
    meta(name="description", content="Katie Boyd is a user experience designer and photographer based in Brooklyn, NY.")
    meta(property="title", content="Katie Boyd")
    meta(property="description", content="Katie Boyd is a user experience designer and photographer based in Brooklyn, NY.")
    meta(property="og:image", content="http://www.katiemboyd.com/assets/images/mug.jpg")
    meta(property="og:image:type", content="image/jpeg")
    link(rel="stylesheet", href="assets/css/app.css")
    title Katie Boyd
    <script type="text/javascript" src="//use.typekit.net/onh5fjh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  body
    != include('app/views/header')
    != yield
    != include('app/views/footer')
    != include('app/views/gauges')
    script(type='text/javascript', src="assets/js/app.js")
