#photography.container
  .five.columns.gallery
    div.gallery-cover("data-flickr-set"="people")
    div.gallery-container("data-flickr-set"="people")
    h4 People
  .five.columns.gallery
    div.gallery-cover("data-flickr-set"="projects")
    div.gallery-container("data-flickr-set"="projects")
    h4 Projects
  .five.columns.gallery
    div.gallery-cover("data-flickr-set"="places")
    div.gallery-container("data-flickr-set"="places")
    h4 Places
