#photography.container
  .five.columns.gallery
    div.gallery-container("data-flickr-set"="people")
    h3 People
  .five.columns.gallery
    div.gallery-container("data-flickr-set"="projects")
    h3 Projects
  .five.columns.gallery
    div.gallery-container("data-flickr-set"="places")
    h3 Places
