#process
  .container
    .five.columns.offset-by-one
      img(src="/assets/images/discovery.jpg")
    .nine.columns
      h3 Discovery
      p.
        The process should begin by gaining an understanding of the product.
        In order to create a logical solution, it is important to understand the
        business requirements, the commercial landscape, and the current
        technological constraints that are placed on a project.
        This information is usually compiled through stakeholder workshops,
        company interviews, and competitive analysis.
  .container
    .five.columns.offset-by-one
      img(src="/assets/images/user_insights.jpg")
    .nine.columns
      h3 User Insights
      p.
        Business objectives should be balanced with user needs to create the
        best possible user experience.
        In order to gain user insights and data, I collect information using a
        variety of user research methods including, quantitative surveys, user
        interviews, card sorting exercises, and contextual inquiries.
  .container
    .five.columns.offset-by-one
      img(src="/assets/images/research_organization.jpg")
    .nine.columns
      h3 Research Organization
      p.
        After understanding the business goals and the users' needs, the
        information must be organized into documents that are meaningful and
        easily utilized during the design phase.
        These documents may include affinity diagrams, concept maps, personas,
        scenarios, user journeys, and feature prioritization charts.
        This information helps prioritize features by clearly illustrating what is
        most important to the users and the business.
  .container
    .five.columns.offset-by-one
      img(src="/assets/images/ideation_and_design.jpg")
    .nine.columns
      h3 Ideation and Design
      p.
        Once the features have been prioritized, the next step is developing creative solutions.
        This phase begins by sketching to explore design concepts and layout.
        Design hypotheses are investigated more throughly through paper
        prototypes, user testing, and low fidelity wireframes.
        After several iterations, the solidified designs are made into higher
        fidelity wireframes and mockups that are continually tested and adjusted
        depending on user feedback.
  .container
    .five.columns.offset-by-one
      img(src="/assets/images/specifications.jpg")
    .nine.columns
      h3 Specifications
      p.
        The previous phases have illustrated the best possible design solution
        for the product. The final phase is collecting and concisely explaining
        the details and requirements of the designs to stakeholders and developers.
        The most effective ways of communicating these details are through
        specification documents, high fidelity prototypes, screen flows, site/app maps, and user flows.

