#ux-work.container
  .eight.columns.ux-project
    div.project-cover("data-flickr-set"="want")
    div.project-container("data-flickr-set"="want")
    h4 Want
  .eight.columns.ux-project
    div.project-cover("data-flickr-set"="hitlist")
    div.project-container("data-flickr-set"="hitlist")
    h4 Hitlist
